// ------------------------------------------------------------------------------
//   @group Variables - Colors, Fonts, etc.
// ------------------------------------------------------------------------------
$kss-colors-background: #fff;
$kss-colors-foreground: #444;
$kss-colors-heading: #111;
$kss-colors-quotes: #666;
$kss-colors-link: #0645ad;
$kss-colors-link-visited: #0645ad;
$kss-colors-link-hover: lighten($kss-colors-link, 20%);
$kss-colors-link-active: #faa700;
$kss-font-body: Helvetica, 'Helvetica Neue', Arial, sans-serif;
$kss-font-code: Menlo, 'Ubuntu Mono', 'Lucida Console', 'Courier New', Courier, monospace;
$kss-font-size: 16px;
$kss-vertical-rhythm: $kss-font-size * 1.5;
.kss-modifier {
  &__default-name,
  &__name {
    margin-top: 20px;
    padding-top: 20px;
    font-size: 18px;
    color: #000;
    font-weight: bold;
  }
  &__name {
    border-top: 2px solid #ddd;
  }
  &_default-name {

  }
  &__example {
    margin-top: 20px;
  }
  &__description {
    font-size: 13px;
    font-weight: normal;
    font-style: oblique;
  }
}
.kss-style,
.kss-markup {
  margin-top: 20px;
  clear: both;
}

/**** UI for Styleguides ****/
body {
  margin: 0;
  padding: 100px 0 0;
}

/**** Styleguide menu ****/
.styleguide-header {
  width: 100%;
  height: 40px;
  background: #333;
  position: fixed;
  top: 0;
  z-index: 9999;
  color: #fff;
  text-align: center;
  .styleguide-menutoggler {
    padding: 8px;
    color: #999;
    background: #333;
    height: 40px;
    cursor: pointer;
    &.active,
    &:hover {
      background: #051020;
      color: #fff;
    }
    @include transition(all 400ms ease);
  }
  .styleguide-menu {

    // default this is hidden
    display: none;
    opacity: 0;
    @include transition(opacity 400ms ease);
    a {
      @include transition(background 400ms ease);
    }
    &.open {
      display: block;
      opacity: 1;
    }
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #fff;
    li {
      margin: 0;
      padding: 0;
      display: block;
      border-bottom: 1px solid darken(#25426a, 10%);
      &:last-child {
        border-bottom: 0;
      }
      a {
        display: block;
        padding: 7px;
        text-decoration: none;
        background: #25426a;
        color: #fff;
        font-size: 18px;
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          a {
            background: #6681a5;
            padding: 5px;
            font-size: 15px;
            color: #ccc;
            &:hover {
              background: darken(#6681a5, 10%);
            }
          }
        }
      }
      a:hover {
        background: darken(#25426a, 10%);
      }
    }
  }
  .styleguide-number {
    font-size: 10px;
    margin-right: 4px;
    color: #ccc;
    height: 20px;
    width: 20px;
    display: inline-block;
  }
}

/**** Header for each page ****/
.styleguide-pageheader-main {
  @extend .h1;
}
.styleguide-pageheader-sub {
  @extend .h2;
}

/**** Descriptions for each page ****/
.styleguide-description {
  background: #f3d8d8;
  padding: 15px 20px;
  border-radius: 5px;
  margin: 10px 0 20px;
  color: #976666;
  p {
    margin: 0;
    padding: 0;
    font-size: 15px !important !important !important;
    font-weight: normal !important;
    color: #976666;
    display: inline-block !important;
  }
  &:before {
    font-family: FontAwesome;
    content: "\f05a";
    display: inline-block;
    color: #976666;
    font-size: 18px;
  }
}
