// ------------------------------------------------------------------------------
//   @group Variables - Colors, Fonts, etc.
// ------------------------------------------------------------------------------
$kss-colors-background: #fff;
$kss-colors-foreground: #444;
$kss-colors-heading: #111;
$kss-colors-quotes: #666;
$kss-colors-link: #0645ad;
$kss-colors-link-visited: #0645ad;
$kss-colors-link-hover: lighten($kss-colors-link, 20%);
$kss-colors-link-active: #faa700;
$kss-font-body: Helvetica, 'Helvetica Neue', Arial, sans-serif;
$kss-font-code: Menlo, 'Ubuntu Mono', 'Lucida Console', 'Courier New', Courier, monospace;
$kss-font-size: 16px;
$kss-vertical-rhythm: $kss-font-size * 1.5;
.kss-modifier {
  &__default-name,
  &__name {
    margin-top: 20px;
    padding-top: 20px;
    font-size: 18px;
    color: #000;
    font-weight: bold;
  }
  &__name {
    border-top: 2px solid #ddd;
  }
  &_default-name {

  }
  &__example {
    margin-top: 20px;
  }
  &__description {
    font-size: 13px;
    font-weight: normal;
    font-style: oblique;
  }
}
.kss-style,
.kss-markup {
  margin-top: 20px;
  clear: both;
}

/**** Descriptions for each page ****/
.styleguide-description {
  background: #f3d8d8;
  padding: 15px 20px;
  border-radius: 5px;
  margin: 10px 0 20px;
  color: #976666;
  p {
    margin: 0;
    padding: 0;
    font-size: 15px !important !important !important;
    font-weight: normal !important;
    color: #976666;
    display: inline-block !important;
  }
  &:before {
    font-family: FontAwesome;
    content: "\f05a";
    display: inline-block;
    color: #976666;
    font-size: 18px;
  }
}
