.styleguide-header {
  @include media($l-viewport) {
    text-align: center;
  }
}

.styleguide-navigation-shortcut,
.styleguide-logo {
  @include media(new-breakpoint(max-width ($second-breakpoint-value))) {
    padding: 10px 5%;
  }
}

.styleguide-navigation-shortcut {
  display: block;
  background: #eef1f6;

  @include media($l-viewport) {
    display: none;
  }
}

.styleguide-section-header {
  background-color: #199c87;
  padding: 20px 5%;

  @include media($l-viewport) {
    padding: 30px 5%;
  }

  h1 {
    color: rgba(255, 255, 255, 0.9);
  }
}
