$styleguide-heading-color: #fff;
$styleguide-heading-font-family: 'brush-up', Helvetica, Arial, sans-serif;
$stylguide-header-background: #a0d1ca;
$styleguide-header-color: #000;

.styleguide-header {
  @include media($l-viewport) {
    text-align: center;
  }
}

.styleguide-navigation-shortcut,
.styleguide-logo {
  @include media(new-breakpoint(max-width ($second-breakpoint-value))) {
    padding: 10px 5%;
  }
}

.styleguide-navigation-shortcut {
  display: block;
  background: #eef1f6;

  @include media($l-viewport) {
    display: none;
  }
}

.styleguide-section-header {
  background-color: $stylguide-header-background;
  padding: 20px 5%;

  @include media($l-viewport) {
    padding: 30px 5%;
  }

  h1 {
    color: $styleguide-header-color;
    font-family: $styleguide-heading-font-family;
  }
}
