$styleguide-nav-width: 250px;
$styleguide-header-height: 63px;
$styleguide-name-font-family: 'brush-up', Helvetica, Arial, sans-serif;

.styleguide-logo {
  height: $styleguide-header-height;
  &__img {
    height: $styleguide-header-height;
  }
}

.styleguide-main {
  @include media($l-viewport) {
    margin-left: $styleguide-nav-width;
  }
}

.styleguide-introduction {
  padding: 0 5%;
  h1 {
    font-family: $styleguide-name-font-family;
  }
}

.styleguide-section {
  &__description {
    padding: 20px 5%;
    font-size: 1.3em;
    color: #868686;

    @include media($l-viewport) {
      padding: 30px 5% 0;
    }

    p {
      display: inline-block;
    }
  }

  .kss-modifier__wrapper,
  .kss-markup {
    padding: 0 5%;
  }
}

.styleguide-subsection {
  padding: 20px 5%;

  &__description {
    font-size: 1.1 em;
    color: #444;
  }
}

.styleguide-header {
  @include media($l-viewport) {
    position: fixed;
    top: 0;
    height: $styleguide-header-height;
    width: $styleguide-nav-width;
  }
}

.styleguide-nav {
  @include media($l-viewport) {
    width: $styleguide-nav-width;
    position: fixed;
    top: $styleguide-header-height;
    bottom: 0;
    padding-top: 0;
    overflow: hidden;
    overflow-y: auto;
  }
}

.styleguide-btn--markup,
.styleguide-btn--preview {
  @include custom-button($font-size: em(16px));
  $background: #e6e6e6;
  background-color: $background;
  color: $base-font-color;

  &:hover,
  &:focus {
    background-color: darken($background, 10%);
  }

  &:active {
    background-color: darken($background, 15%);
  }

  &:hover,
  &:active,
  &:focus {
    color: $base-font-color;
    text-decoration: none;
  }
}

.styleguide-btn--markup {
  margin: 20px 0 0;
}

.styleguide-btn--preview {
  text-align: center;
}
