$styleguide-nav-width: 250px;
$styleguide-header-height: 63px;

.styleguide-main {
  @include media($l-viewport) {
    margin-left: $styleguide-nav-width;
  }
}

.styleguide-introduction {
  padding: 0 5%;
}

.styleguide-section {
  &__description {
    padding: 20px 5%;
    font-size: 1.3em;
    color: #868686;

    @include media($l-viewport) {
      padding: 30px 5% 0;
    }

    p {
      display: inline-block;
    }
  }

  .kss-modifier__wrapper,
  .kss-markup {
    padding: 0 5%;
  }
}

.styleguide-subsection {
  padding: 20px 5% 0;

  &__description {
    font-size: 1.1 em;
    color: #444;
  }
}

.styleguide-header {
  @include media($l-viewport) {
    position: fixed;
    top: 0;
    height: $styleguide-header-height;
    width: $styleguide-nav-width;
  }
}

.styleguide-nav {
  @include media($l-viewport) {
    width: $styleguide-nav-width;
    position: fixed;
    top: $styleguide-header-height;
    bottom: 0;
    padding-top: 0;
    overflow: hidden;
    overflow-y: auto;
  }
}

.styleguide-btn--markup {
  margin: 20px 0 0;
}
