$styleguide-nav-width: 250px;

.styleguide-main {
  @include media($l-viewport) {
    margin-left: $styleguide-nav-width;
  }
}

.styleguide-introduction {
  padding: 0 5%;
}

.styleguide-section {
  &__description {
    padding: 20px 5%;
    font-size: 1.3em;
    color: #868686;

    @include media($l-viewport) {
      padding: 30px 5% 0;
    }

    p {
      display: inline-block;
    }
  }

  .kss-modifier__wrapper,
  .kss-markup {
    padding: 0 5%;
  }
}

.styleguide-subsection {
  padding: 20px 5% 0;

  &__description {
    font-size: 1.1 em;
    color: #5876a3;
  }
}

.styleguide-nav {
  @include media($l-viewport) {
    width: $styleguide-nav-width;
    position: fixed;
    top: 100px;
    bottom: 0;
    border-right: 1px solid #f4f6f9;
    padding-top: 0;
    overflow: hidden;
    overflow-y: auto;
  }
}
