.styleguide-nav {
  $background-color: #F6F6F6;
  $background-color--active: darken(#F6F6F6, 5%);
  $color: #16325c;
  background-color: $background-color;
  list-style: none;

  &__list, &__sublist {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__list {
    a {
      padding: 10px 20px;
    }
  }
  &__sublist {
    a {
      padding: 10px 10px 10px 40px;
    }
  }
  &__element {
    &--active > a {
      background-color: $background-color--active;
    }
  }
  a {
    display: block;
    color:  #16325c;
    &:hover, &:active, &:focus {
      background-color: $background-color--active;
      text-decoration: none;
    }
  }
  &__footer {
    padding: 10px 20px;
    font-size: em(14px);
    @media(min-width: $first-breakpoint-value) {
        position: absolute;
        bottom: 0;
    }
  }
}
