.styleguide-nav {
  $background-color: transparent;
  $background-color--active: #f4f6f9;
  $color: #16325c;
  background-color: $background-color;
  list-style: none;
  &__list, &__sublist {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__list {
    a {
      padding: 10px 20px;
    }
  }
  &__sublist {
    a {
      padding: 10px 10px 10px 40px;
    }
  }
  &__element {
    &--active > a {
      background-color: $background-color--active;
    }
  }
  a {
    display: block;
    color:  #16325c;
    &:hover, &:active, &:focus {
      background-color: $background-color--active;
      text-decoration: none;
    }
  }
}
