$box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);

$whiteframe-shadow-z1: 0px 2px 5px 0 rgba(0,0,0,0.26);
$whiteframe-shadow-z2: 0px 8px 17px rgba(0,0,0,0.2);
$whiteframe-shadow-z3: 0px 17px 50px rgba(0,0,0,0.19);
$whiteframe-shadow-z4: 0px 16px 28px 0 rgba(0,0,0,0.22);
$whiteframe-shadow-z5: 0px 27px 24px 0 rgba(0,0,0,0.2);
