$base-border-radius: 5px;
$base-spacing: 20px;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

$header-height: 60px;
$sidenav-width: 200px; // In design 150

$zindex: (
  sidenav: 4,
  backdrop: 3,
  header: 1,
);
