@font-face {
  font-family: 'brush-up';
  src: url('/fonts/brushup-webfont.woff2') format('woff2'); // Super Modern Browsers
}

$base-font-family: 'Raleway', Helvetica, Arial, sans-serif;
$heading-font-family: $base-font-family;
$btn-font-family: $heading-font-family;

// **, **, mobil, m-viewport, l-viewport, font-weight
$font-list: (
  (h1, em(35px), em(40px), em(47px), 700),
  (h2, em(25px), em(25px), em(30px), 700),
  (h3, em(20px), em(20px), em(24px), 700),
  (h4, em(18px), em(18px), em(20px), 700),
  (h5, em(15px), em(15px), em(15px), 700),
  (h6, em(14px), em(14px), em(14px), 700)
);

// Font Colors
$base-font-color: #444;
// Font sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;
