@font-face {
  font-family: 'brush-up';
  src: url('/fonts/brushup-webfont.woff2') format('woff2'); // Super Modern Browsers
}

$base-font-family: 'Raleway', Helvetica, Arial, sans-serif;
$heading-font-family: $base-font-family;
$btn-font-family: $heading-font-family;

// **, **, mobil, m-viewport, l-viewport, font-weight
$font-list: (
  (h1, em(24px), em(26px), em(30px), 400, #6c6c6c, $heading-font-family),
  (h2, em(20px), em(22px), em(24px), 400, #6c6c6c, $heading-font-family),
  (h3, em(18px), em(18px), em(20px), 400, #6c6c6c, $heading-font-family),
  (h4, em(16px), em(18px), em(18px), bold, #4a4a4a, $heading-font-family),
  (h5, em(14px), em(16px), em(16px), bold, #4a4a4a, $heading-font-family),
  (h6, em(12px), em(14px), em(14px), bold, #4a4a4a, $heading-font-family)
);

// Font Colors
$base-font-color: #444;
// Font sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;
