//https://github.knowit.no/kyber/Styleguide

//Normalize
@import 'vendor/normalize';

// Mixin library http://bourbon.io/
@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';

// Grid framework library http://neat.bourbon.io/
@import 'bower_components/neat/app/assets/stylesheets/neat';

// Font icons fontawesome.io
@import 'bower_components/font-awesome/scss/font-awesome';

@import 'helpers/helpers';
@import 'settings/settings';
@import 'modules/modules';
@import 'layouts/layouts';

@import 'styleguide/base';