//https://github.knowit.no/kyber/Styleguide

//Normalize
@import 'vendor/normalize';

// Mixin library http://bourbon.io/
@import 'bourbon';

// Grid framework library http://neat.bourbon.io/
@import 'neat';

// Font icons fontawesome.io
@import '../node_modules/font-awesome/scss/font-awesome';

@import 'helpers/helpers';
@import 'settings/settings';
@import 'components/components';
@import 'modules/modules';

@import 'styleguide/base';