@mixin button($bg-color, $bg-hover-color) {
  border-radius: 5px;
  background: $bg-color;
  @if lightness($bg-color) > 50% {
    color: black;
  } @else {
    color: white;
  }

  &:hover {
    background: $bg-hover-color
  }
}