// http://davidwalsh.name/sass-color-variables-dont-suck

// Profile colors, never use directly.
// -------------------------

$profile1: #428bca;
$profile2: #5cb85c;
$profile3: #f0ad4e;
$profile4: #d9534f;
$profile5: #5bc0de;
$profile6: #428bca;
$profile7: #5cb85c;

// Meaningful aliases for profile colors;
$bg-color: $base4;

$button-color: $base1;
$button-hover-color: $base1-light;