<div class="person-card">
    <div class="person-card__image-container">
    </div>
    <img class="person-card__image" src="http://www.knowit.no/Global/Knowit%20No%20(IKKE%20I%20BRUK)/Medarbeidere/ReaktorBergen/1/Hanne-Opedal.jpg" alt="Hanne Opedal" />
    <h1 class="person-card__heading">
      Hanne Opedal
    </h1>
    <p>UX Designer</p>
    <button class="person-card__btn">Kontakt meg</button>
</div>
