// Components
//
// Components compose complex/larger reusable UI components. Components is often composed by modules.
//
// Weight: 2
//
// Style guide: components

@import 'navigation';
@import 'office-card';
@import 'social-icons';
@import 'search';
@import 'pills';
