// Hamburger with bacon
//
//  Markup: hamburger.hbs
//
// Weight: 10
//
// Style guide: components.hamburger
$hamburger-width: 30px;
$hamburger-height: 25px;
$hamburger-color: #565656;
$hamburger-background: #f8f8f8;

.hamburger {
  cursor: pointer;
  display: table-cell;
  height: $header-height;
  vertical-align: middle;

  &-meat,
  &-side {
    display: table-cell;
    vertical-align: middle;
  }

  &-meat {
    background: $hamburger-color;
    height: $hamburger-height;
    position: relative;
    width: $hamburger-width;

    &::before,
    &::after {
      background-color: $hamburger-background;
      content: '';
      height: 20%;
      left: 0;
      position: absolute;
      width: 100%;
    }

    &::before {
      top: 20%;
    }

    &::after {
      top: 60%;
    }
  }

  &-side {
    color: lighten($hamburger-color, 5%);
    font-weight: bold;
    line-height: 1;
    padding-left: 10px;
    text-transform: uppercase;
  }
}
