// Navigation
//
// Main navigation
//
// Markup: navigation.hbs
//
// Style guide: components.navigation
$navigation-background: #fff;

.navigation {
  @include transform-style(preserve-3d);
  @include transition(all 200ms ease);
  @include transform(translate3d(-100%, 0, 0));
  background: $navigation-background;
  overflow-y: auto;
  visibility: visible;
  width: $sidenav-width;
  z-index: map-get($zindex, sidenav);

  @include media($ml-viewport) {
    @include transform(translate3d(0, 0, 0));
    @include transition(none);
  }

  &.active {
    @include transform(translate3d(0, 0, 0));
  }

  &__list {
    @include outer-container;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
  }

  &__element {
    display: block;

    a {
      @include user-select(none);
      color: $navigation-link-color;
      display: block;
      line-height: 1;
      padding: 10px 10px 10px 40px;
      text-decoration: none;

      &:hover {
        background: $navigation-link-background-hover;
        color: $navigation-link-color-hover;
      }

      &:focus {
        background: $navigation-link-background-focus;
        color: $navigation-link-color-focus;
      }

      &:active {
        background: $navigation-link-background-active;
        color: $navigation-link-color-active;
      }
    }

    &--active a {
      color: $navigation-link-color-active;

      &__arrow {
        fill: green;
      }
    }

    &__arrow {
      fill: #4d828e;
      float: right;
      height: 20px;
      position: relative;
      top: -2px;
      width: 8px;
    }
  }
}
