// Navigation
//
// Main navigation
//
// Markup: navigation.hbs
//
// Style guide: components.navigation

$navigation-background: #fff;
.navigation {
  width: $sidenav-width;
  z-index: map-get($zindex, sidenav);
  overflow-y: auto;
  visibility: visible;
  box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.3);
  background: $navigation-background;
  @include transform-style(preserve-3d);
  @include transition(all 200ms ease);
  @include transform(translate3d(-100%, 0, 0));
  @include media($ml-viewport) {
    @include transform(translate3d(0, 0, 0));
    @include transition(none);
  }
  &.active {
    @include transform(translate3d(0, 0, 0));
  }
  &_list {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    @include outer-container;
  }
  &_element {
    display: block;
    a {
      display: block;
      padding: 10px 10px 10px 40px;
      @include user-select(none);
      line-height: 1;
      text-decoration: none;
      color: $navigation-link-color;
      &:hover {
        color: $navigation-link-color-hover;
        background: $navigation-link-background-hover;
      }
      &:focus {
        color: $navigation-link-color-focus;
        background: $navigation-link-background-focus;
      }
      &:active {
        color: $navigation-link-color-active;
        background: $navigation-link-background-active;
      }
    }
    &--active a {
      color: $navigation-link-color-active;
      &_arrow {
        fill: green;
      }
    }
    &_arrow {
      width: 8px;
      height: 20px;
      fill: #4d828e;
      float: right;
      position: relative;
      top: -2px;
    }
  }
}
