// Office Card
//
// Office presentation
//
// Markup:
// <div class="office-card vcard">
//   <div class="office-card_element">
//     <div class="office-card_section">
//       <div class="office-card_heading org">Hovedkontor Oslo</div>
//       <div class="adr">
//         <span class="type">HOME</span>
//         <p class="street-address">Karl Johansgt 1</p>
//         <p><span class="postal-code">0020</span> <span class="region">Oslo</span></p>
//       </div>
//     </div>
//   </div>
//   <div class="office-card_element">
//     <div class="office-card_section">
//       <div class="office-card_heading org">Postadresse</div>
//       <div class="adr">
//         <span class="type">POSTAL</span>
//         <p class="post-office-box">Postbox 123</p>
//         <p class="street-address">Karl Johansgt 1</p>
//         <p><span class="postal-code">0020</span> <span class="region">Oslo</span></p>
//       </div>
//     </div>
//   </div>
//   <div class="office-card_element">
//     <div class="office-card_section">
//       <div class="office-card_actions">
//         <div class="tel">
//           <span class="type">HOME</span>
//           <a class="link" href="tel:55993500">
//                  <svg class="link_icon link_icon--left" viewbox="0 0 12 18">
//                      <use xlink:href="#icon-mobile"></use>
//                  </svg>
//                  <span class="link_text">55 99 35 00</span>
//              </a>
//         </div>
//         <div class="tel">
//           <span class="type">WORK</span>
//              <a class="link" href="tel:90090900">
//                  <svg class="link_icon link_icon--left" viewbox="0 0 17 18">
//                      <use xlink:href="#icon-phone"></use>
//                  </svg>
//                  <span class="link_text">900 90 900</span>
//              </a>
//         </div>
//       </div>
//       <div class="office-card_actions">
//         <a class="email office-card_btn" href="mailto:contact@firma.no">Send e-post</a>
//         <button class="office-card_btn">Send SMS</button>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 2.2

$office-card-box-shadow: $box-shadow;

.link {
  display: inline-block;
  &_icon, &_text {
    vertical-align: middle;
  }
  &_icon {
    height: 18px;
    width: 17px;
    fill: #565656;
    &--left {
      margin-right: 10px;
    }
    &--right {
      margin-left: 10px;
    }
  }
  ~ .link {
    margin-left: 10px;
  }
}

.office-card {
  &_heading {
    @extend .h3;
  }
  &_element {
    @include media($l-viewport) {
      float: left;
      width: percentage(1 / 3);
      padding: 0 1px;
    }
  }
  &_section {
    background: #fff;
    box-shadow: $office-card-box-shadow;
    padding: 20px;
    height: 180px;
  }
  &_btn {
    @extend .btn;
    @extend .btn--default;
  }
  &_actions {
    ~ .office-card_actions .office-card_btn {
      margin-top: 15px;
    }
    .office-card_btn ~ .office-card_btn {
      margin-right: 10px;
    }
  }
  p {
    margin: 0;
  }
  .type {
    display: none;
  }
  .tel {
    display: inline-block;
    ~ .tel {
      margin-left: 10px;
    }
  }
}