// Office Card
//
// Office presentation
//
// Markup: office-card.hbs
//
// Style guide: components.office-card

$office-card-box-shadow: $box-shadow;

.link {
  display: inline-block;
  &_icon, &_text {
    vertical-align: middle;
  }
  &_icon {
    height: 18px;
    width: 17px;
    fill: #565656;
    &--left {
      margin-right: 10px;
    }
    &--right {
      margin-left: 10px;
    }
  }
  ~ .link {
    margin-left: 10px;
  }
}

.office-card {
  &_heading {
    @extend .h3;
  }
  &_element {
    @include media($l-viewport) {
      float: left;
      width: percentage(1 / 3);
      padding: 0 1px;
    }
  }
  &_section {
    background: #fff;
    box-shadow: $office-card-box-shadow;
    padding: 20px;
    height: 180px;
  }
  &_btn {
    @extend .btn;
    @extend .btn--default;
  }
  &_actions {
    ~ .office-card_actions .office-card_btn {
      margin-top: 15px;
    }
    .office-card_btn ~ .office-card_btn {
      margin-right: 10px;
    }
  }
  p {
    margin: 0;
  }
  .type {
    display: none;
  }
  .tel {
    display: inline-block;
    ~ .tel {
      margin-left: 10px;
    }
  }
}
