// Search input
//
// Standard search input
//
// Markup: search.hbs
//
// Style guide: components.search
$search-input-height: 40px;
$search-input-padding: 0 20px 0 0;
$search-font-size: 20px;
$search-line-height: 1;
$search-input-icon-size: $search-font-size * $search-line-height;
$background-color: lighten(#ddd, 7%);
$search-background: none;
$search-background-active: none;
$search-color: #4d828e;
$placeholder-color: #6d6d6d;
$search-btn-active: $background-color;
$search-close-btn-color: #6d6d6d;
$search-close-btn-color-active: darken(#6d6d6d, 10%);

.searchbox-container {
  display: inline-block;
  height: $search-input-height;
  margin: 0 auto;
}

.searchbutton,
input[type="search"].searchbox {
  background: $search-background;
  border-radius: 0;
  box-sizing: border-box;
  color: $search-color;
  float: left;
  font-size: $search-font-size;
  height: $search-input-height;
  line-height: $search-line-height;
  outline: none;
}

input[type="search"].searchbox {
  @include transition(padding 150ms ease-in-out);
  border-bottom: 2px solid #979797;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  box-shadow: none;
  margin: 0;
  padding: $search-input-padding;
  width: auto;

  &:focus,
  &:hover {
    background-color: $search-background-active;

    + .searchbutton {
      background-color: $search-background-active;
    }
  }

  &:focus {
    box-shadow: none;
    outline: thin dotted;
    outline-offset: -1px;
    padding: 0 20px;
  }
}

.searchbutton {
  border: 0;
  padding: 0;
  text-align: center;
  width: 50px;

  &:hover,
  &:focus {
    outline: thin dotted;
    outline-offset: -1px;
  }

  &--close {
    color: $search-close-btn-color;

    &:active {
      color: $search-close-btn-color-active;
    }
  }

  &--search {
    &:hover,
    &:focus {
      background-color: $search-background-active;
    }

    &:active {
      color: darken($search-btn-active, 20%);
    }
  }
}
