// Social icons
//
// Markup: social-icons.hbs
//
// Style guide: components.social-icons

$social-color-pallete: (
     facebook: #3b5998,
     tumblr: #32506d,
     linkedin: #007bb6,
     twitter: #00aced,
     google-plus: #dd4b39,
     reddit: #8bbbe3,
     youtube: #df1c31,
     pinterest: #b81621,
     github: #444,
     envelope: #333,
     soundcloud: #f50
);

$social-default-icon-color: #fff;
$social-default-btn-color: #666;
$social-icon-size: 40px;
$social-icon-border: 2px;
$social-icon-border-radius: 5px;
$brand-color: #006fc2;

.icon-link {
  background-color: $social-default-btn-color;
  box-sizing: content-box;
  cursor: pointer;
  display: inline-block;
  height: $social-icon-size;
  line-height: $social-icon-size;
  margin: 5px;
  outline: none;
  text-align: center;
  vertical-align: middle;
  width: $social-icon-size;

  &.fill {
    @each $social-alias,
    $social-color in $social-color-pallete {
      &.#{$social-alias} {
        background-color: $social-color;

        &:hover {
          background-color: #fff;

          .fa-#{$social-alias} {
            @include transition(color 150ms ease-in-out);
            color: $social-color;
          }
        }
      }
    }
  }

  &.brand {
    background-color: #fff;

    .fa {
      color: $brand-color;
    }
  }

  &.round {
    border-radius: 50%;
  }

  &.round-corner {
    border-radius: $social-icon-border-radius;
  }

  &:hover {
    @include transition(background-color 150ms ease-in-out);
    background-color: #fff;
    height: $social-icon-size - $social-icon-border * 2;
    line-height: $social-icon-size - $social-icon-border * 2;
    width: $social-icon-size - $social-icon-border * 2;

    @each $social-alias,
    $social-color in $social-color-pallete {
      &.#{$social-alias} {
        border: $social-icon-border solid $social-color;
      }
    }

    .fa {
      line-height: $social-icon-size - $social-icon-border * 2;
    }

    @each $social-alias,
    $social-color in $social-color-pallete {
      .fa-#{$social-alias} {
        @include transition(color 150ms ease-in-out);
        color: $social-color;
      }
    }
  }

  .fa {
    color: $social-default-icon-color;
    font-size: $social-icon-size - $social-icon-size * .40;
    line-height: $social-icon-size;
  }
}

.brand-icons {
  background-color: #ddd;
  padding: 10px 0;
}
