<header class="header">
  <nav role="navigation" class="header__nav">
    <a href="#" class="header__logo">
      <img src="/images/header__logo.svg">
    </a>
    <ul class="header__links">
      <li class="header__link header__link--desktop"><a href="#">Innboks</a></li>
      <li class="header__link header__link--desktop"><a href="#">Innstillinger</a></li>
      <li class="header__link"><a href="#">Logg ut</a></li>
    </ul>
  </nav>
</header>
