<nav role="navigation" class="navigation">
  <ul class="navigation__list">
    <li class="navigation__element"><a href="#">Element 1</a></li>
    <li class="navigation__element"><a href="#">Element 2</a></li>
    <li class="navigation__element navigation__element--active">
      <a href="#">
        <span class="navigation__element__text">Element 3</span>
        <svg class="navigation__element__arrow" viewbox="0 0 8 18">
          <use xlink:href="#arrow-right"></use>
        </svg>
      </a>
    </li>
    <li class="navigation__element"><a href="#">Element 4</a></li>
    <li class="navigation__element"><a href="#">Element 5</a></li>
    <li class="navigation__element"><a href="#">Element 6</a></li>
  </ul>
</nav>
