<nav role="navigation" class="navigation">
  <ul class="navigation_list">
    <li class="navigation_element"><a href="#">Element 1</a></li>
    <li class="navigation_element"><a href="#">Element 2</a></li>
    <li class="navigation_element navigation_element--active">
      <a href="#">
        <span class="navigation_element_text">Element 3</span>
        <svg class="navigation_element_arrow" viewbox="0 0 8 18">
          <use xlink:href="#arrow-right"></use>
        </svg>
      </a>
    </li>
    <li class="navigation_element"><a href="#">Element 4</a></li>
    <li class="navigation_element"><a href="#">Element 5</a></li>
    <li class="navigation_element"><a href="#">Element 6</a></li>
  </ul>
</nav>
