<div class="office-card vcard">
  <div class="office-card__element">
    <div class="office-card__section">
      <div class="office-card__heading org">Oslo</div>
      <div class="adr">
        <span class="type">HOME</span>
        <p class="street-address">Universitetsgata 7</p>
        <p>
          <span class="postal-code">0164</span>
          <span class="region">Oslo</span>
        </p>
      </div>
    </div>
  </div>
  <div class="office-card__element">
    <div class="office-card__section">
      <div class="office-card__heading org">Postadresse</div>
      <div class="adr">
        <span class="type">POSTAL</span>
        <p class="post-office-box">Postbox 123</p>
        <p class="street-address">Karl Johansgt 1</p>
        <p>
          <span class="postal-code">0020</span>
          <span class="region">Oslo</span>
        </p>
      </div>
    </div>
  </div>
  <div class="office-card__element">
    <div class="office-card__section">
      <div class="office-card__actions">
        <div class="tel">
          <span class="type">HOME</span>
          <a class="link" href="tel:004702486">
            <svg class="link__icon link__icon--left" viewbox="0 0 12 18">
              <use xlink:href="#icon-mobile"></use>
            </svg>
            <span class="link__text">+47 02486</span>
          </a>
        </div>
        <div class="tel">
          <span class="type">WORK</span>
          <a class="link" href="tel:004741421829">
            <svg class="link__icon link__icon--left" viewbox="0 0 17 18">
              <use xlink:href="#icon-phone"></use>
            </svg>
            <span class="link__text">+47 414 21 829</span>
          </a>
        </div>
      </div>
      <div class="office-card__actions">
        <a class="email office-card__btn" href="mailto:torleif.halseth@knowit.no">Send e-post</a>
        <button class="office-card__btn">Send SMS</button>
      </div>
    </div>
  </div>
</div>
