<ul class="pills">
  <li>
    <button class="pill--active">Alt innhold</button>
  </li>
  <li>
    <button class="pill">Juridisk</button>
  </li>
  <li>
    <button class="pill">Kurs</button>
  </li>
  <li>
    <button class="pill">Bolig</button>
  </li>
  <li>
    <button class="pill">Video</button>
  </li>
  <li>
    <button class="pill">Bil</button>
  </li>
</ul>
