<ul class="pills">
  <li>
    <button class="pill--active">All</button>
  </li>
  <li>
    <button class="pill">Stavanger</button>
  </li>
  <li>
    <button class="pill">Oslo</button>
  </li>
  <li>
    <button class="pill">Bergen</button>
  </li>
  <li>
    <button class="pill">Kristiansand</button>
  </li>
  <li>
    <button class="pill">Stockholm</button>
  </li>
</ul>
