<form class="searchbox-container">
  <button type="reset" class="searchbutton searchbutton--close fa fa-times"></button>
  <input type="search" class="searchbox" name="q" autocomplete="off" placeholder="Search" />
  <button type="submit" class="searchbutton searchbutton--search fa fa-search"></button>
</form>
