<a class="icon-link facebook fill"><i class="fa fa-facebook"></i></a>
<a class="icon-link tumblr fill"><i class="fa fa-tumblr"></i></a>
<a class="icon-link linkedin fill"><i class="fa fa-linkedin"></i></a>
<a class="icon-link twitter fill"><i class="fa fa-twitter"></i></a>
<a class="icon-link google-plus fill"><i class="fa fa-google-plus"></i></a>
<a class="icon-link reddit fill"><i class="fa fa-reddit"></i></a>
<a class="icon-link youtube fill"><i class="fa fa-youtube"></i></a>
<a class="icon-link pinterest fill"><i class="fa fa-pinterest"></i></a>
<a class="icon-link github fill"><i class="fa fa-github"></i></a>
<a class="icon-link envelope fill"><i class="fa fa-envelope"></i></a>
<a class="icon-link soundcloud fill"><i class="fa fa-soundcloud"></i></a>
