@import '../settings/settings';

@mixin custom-button($border-radius: 0, $border: 0, $padding: 10px, $font-family: $btn-font-family, $text-transform: uppercase, $font-size: em(18px)) {
  @include disable-highlighting;
  $box-shadow-active: 0 2px 4px 0 rgba(0, 0, 0, .3);
  box-sizing: border-box;
  display: inline-block;
  border: $border;
  border-radius: $border-radius;
  line-height: 1;
  padding: $padding;
  appearance: none;
  cursor: pointer;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-decoration: none;
  text-transform: $text-transform;
  user-select: none;
  white-space: nowrap;
  outline: none;
  transition: box-shadow 150ms ease-out;

  &:hover,
  &:focus,
  &:active {
    box-shadow: $box-shadow-active;
    text-decoration: none;
  }
}

@mixin primary-button {
  @include custom-button;
  $color: #000;
  $background-color: #9eb5cb;
  padding: 16px;
  color: $color;
  background-color: $background-color;

  &:hover,
  &:focus,
  &:active {
    color: $color;
  }
}

@mixin edit-button {
  @include custom-button($font-family: $base-font-family, $text-transform: none);
  $background: #e6e6e6;
  $color: $base-font-color;

  background-color: $background;
  color: $color;

  &:hover,
  &:focus,
  &:active {
    color: $color;
  }
}

@mixin disabled-button {
  @include custom-button;
  padding: 15px;
  cursor: not-allowed;
  opacity: .25;
}
