// Radio buttons
//
// Radio buttons allow users to see all available choices at once and select exactly one option.
//
// Markup: radio.hbs
//
// Weight: 3
//
// Style guide: form.radio-buttons

.radio {
  $outer-circle-size: 20px;
  $inner-circle-size: 8px;
  $outer-circle-background: #eee;
  $outer-circle-background-active: $primary-color;
  $inner-circle-background: #ddd;
  $inner-circle-background-active: #fff;
  $padding-left: 10px;
  $line-height-adjusting-pixels: 2px;
  $outer-cirle-box-shadow-focus: 0 0 0 1px #fff, 0 0 0 2px lighten($outer-circle-background-active, 5%);

  position: absolute;
  left: -999em;

  &:checked {
    + .radio__label {
      &::before {
        background: $outer-circle-background-active;
        border: 1px solid darken($outer-circle-background-active, 5%);
      }

      &::after {
        background: $inner-circle-background-active;
      }
    }
  }

  &:focus {
    + .radio__label {
      &::before {
        box-shadow: $outer-cirle-box-shadow-focus;
      }
    }
  }

  &__label {
    position: relative;
    user-select: none;
    padding-left: $outer-circle-size + $padding-left;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      border-radius: 50%;
    }

    &::before {
      height: $outer-circle-size;
      width: $outer-circle-size;
      background: $outer-circle-background;
      top: $line-height-adjusting-pixels;
      left: 0;
    }

    &::after {
      height: $inner-circle-size;
      width: $inner-circle-size;
      background: $inner-circle-background;
      left: $outer-circle-size / 2 - $inner-circle-size / 2;
      top: $outer-circle-size / 2 - $inner-circle-size / 2 + $line-height-adjusting-pixels;
    }
  }
}
