<fieldset>
  <form>
    <p>
      <input type="checkbox" class="checkbox" id="checkbox_1" name="checkboxes" value="checkbox_1">
      <label class="checkbox__label" for="checkbox_1">Checkbox 1</label>

      <input type="checkbox" class="checkbox" id="checkbox_2" name="checkboxes" value="checkbox_2">
      <label class="checkbox__label" for="checkbox_2">Checkbox 2</label>

      <input type="checkbox" class="checkbox" id="checkbox_3" name="checkboxes" value="checkbox_3">
      <label class="checkbox__label" for="checkbox_3">Checkbox 3</label>
    </p>
  </form>
</fieldset>
