<fieldset>
  <form>
    <p>
      <input type="radio" class="radio" id="radio_1" name="radioboxes" value="radio_1">
      <label class="radio__label" for="radio_1">Radio 1</label>

      <input type="radio" class="radio" id="radio_2" name="radioboxes" value="radio_2">
      <label class="radio__label" for="radio_2">Radio 2</label>

      <input type="radio" class="radio" id="radio_3" name="radioboxes" value="radio_3">
      <label class="radio__label" for="radio_3">Radio 3</label>
    </p> 
  </form>
</fieldset>
