<fieldset>
  <form>
    <p>
      <label for="text_field">Text input label</label>
      <input type="text" id="text_field" autocomplete="off" placeholder="Placeholder">
    </p>
    <p>
      <label for="text_area">Text area label</label>
      <textarea id="text_area"></textarea>
    </p>
    <p>
      <label for="password">Password label</label>
      <input type="password" class="password" name="password" autocomplete="off">
    </p>
    <p>
      <label for="file">File Input</label>
      <input type="file" class="file" name="file">
    </p>
  </form>
</fieldset>
