body, html {
    overflow: hidden;
    height: 100%;
}

body {
  padding-top: $header-height;
  .navigation {
    float: left;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    padding-top: $header-height;
  }
}

.main {
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background-image: url(background.jpg);
    @include transform-style(preserve-3d);
    @include transition(all 200ms ease);
    @include media($ml-viewport) {
      padding-left: $sidenav-width;
      @include transition(none);
    }
}

.content {
  @include outer-container;
  padding: 30px 20px;
}

.header {
  background: $header-background;
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: map-get($zindex, header);
  height: $header-height;
  border-bottom: 3px solid #bebfc1;
  padding: 0 20px;

  .hamburger {
    @include media($l-viewport) {
        display: none;
    }
  }
}