// Buttons
//
// Markup: buttons.hbs
//
// .btn--default          - Call to action
// .btn--default:hover    - Call to action hover
// .btn--default:active   - Call to action active
// .btn--disabled         - Disabled button
//
// Weight: 2.5
//
// Style guide: modules.buttons

button,
.btn {
  @include custom-button;
  &--disabled {
    @extend .btn;
    cursor: not-allowed;
    opacity: 0.5;
  }
  &--default {
    @extend .btn;
  }
}
input[type="submit"],
input[type="button"] {
  @extend .btn;
}
