// Headings
//
// Markup: headings.hbs
//
// Weight: 3
//
// Style guide: modules.headings

@import 'bourbon', 'neat', '../settings/settings', '../helpers/helpers';

@each $value in $font-list {
  #{nth($value, 1)},
  .#{nth($value, 1)} {
    @include disable-highlighting;
    font-family: nth($value, 7);
    font-size: nth($value, 2);
    font-weight: nth($value, 5);
    line-height: $heading-line-height;
    text-rendering: optimizelegibility;
    color: nth($value, 6);
    margin: 0 0 em(12px);

    @media (min-width: $first-breakpoint-value) and  (max-width: $second-breakpoint-value) {
      font-size: nth($value, 3);
    }

    @media (min-width: $second-breakpoint-value) {
      font-size: nth($value, 4);
    }
  }
}
