// Paragraph
//
// Markup:
// <p>Suspendisse non nisl sit amet velit hendrerit rutrum. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus. Cras sagittis. Etiam sit amet orci eget eros faucibus tincidunt.</p>
//
// Styleguide 1.3

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}