// Paragraph
//
// Markup:
// <p>Suspendisse non nisl sit amet velit hendrerit rutrum. Nam ipsum risus, rutrum vitae, vestibulum eu.</p>
//
// Style guide: modules.paragraph

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}
