// Paragraph
//
// Markup: paragraph.hbs
//
// Weight: 1
//
// Style guide: modules.paragraph
body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

p {
  margin: 0 0 .75em;
}
