//Sticker information
//
// Markup: sticker-info.hbs
//
// Weight: 1
//
// Style guide: modules.sticker-info
.sticker-info {
  align-items: center;
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
  display: flex;
  padding: 20px 0;

  &__name {
    flex: 1 1 auto;
    font-size: 16px;
    padding-left: 10px;
    text-align: left;
  }

  &__price {
    color: #6d6d6d;
    flex: 1 1 auto;
    font-family: $heading-font-family;
    font-size: 20px;
    font-weight: bold;
    padding-right: 20px;
    text-align: right;
  }

  &__remove-btn {
    background: none;
    border: 0;
    color: #c40000;
    flex: 0 0 30px;
    padding-right: 10px;

    &:hover,
    &:active,
    &:focus {
      background: none;
      color: #c40000;
    }

    i {
      display: block;
      font-size: 22px;
      font-weight: bold;
    }
  }
}
