// Tables
//
// Markup: tables.hbs
//
// Weight: 4.5
//
// Style guide: modules.tables

table {
  border-collapse: collapse;
  margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;
}

th {
  border-bottom: 1px solid darken(#979797, 15%);
  font-weight: 600;
  padding: $small-spacing 0;
  text-align: left;
}

td {
  border-bottom: 1px solid #979797;
  padding: $small-spacing 0;
}

tr,
td,
th {
  vertical-align: middle;
}
