/*Typography

<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<hr>
###Body text

<p>Suspendisse non nisl sit amet velit hendrerit rutrum. Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus. Cras sagittis. Etiam sit amet orci eget eros faucibus tincidunt.</p>

Styleguide 1.2*/

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
  }

  &:active, &:focus {
    color: $link-hover-color;
  }
}

//Heading styles
@each $value in $font-list {
  #{nth($value, 1)},
  .#{nth($value, 1)} {
    font-size: nth($value, 3);
    font-weight: nth($value, 6);
    text-rendering: optimizelegibility;
    font-family: $heading-font-family;
    line-height: $heading-line-height;

    @include media($m-viewport) {
      font-size: nth($value, 4);
    }
    @include media($l-viewport) {
      font-size: nth($value, 5);
    }
  }
}