<div class="icon-grid">
  <i class="icon icon-account"></i>
  <i class="icon icon-book"></i>
  <i class="icon icon-calendar"></i>
  <i class="icon icon-camera"></i>
  <i class="icon icon-card"></i>
  <i class="icon icon-card2"></i>
  <i class="icon icon-caret-down"></i>
  <i class="icon icon-caret-up"></i>
  <i class="icon icon-chart"></i>
  <i class="icon icon-chat"></i>
  <i class="icon icon-check"></i>
  <i class="icon icon-chevron-down"></i>
  <i class="icon icon-chevron-left"></i>
  <i class="icon icon-chevron-right"></i>
  <i class="icon icon-chevron-up"></i>
  <i class="icon icon-delete"></i>
  <i class="icon icon-edit"></i>
  <i class="icon icon-ellipsis"></i>
  <i class="icon icon-graph"></i>
  <i class="icon icon-handing"></i>
  <i class="icon icon-home"></i>
  <i class="icon icon-list"></i>
  <i class="icon icon-lock"></i>
  <i class="icon icon-mail"></i>
  <i class="icon icon-menu"></i>
  <i class="icon icon-money"></i>
  <i class="icon icon-movements"></i>
  <i class="icon icon-movements-outlined"></i>
  <i class="icon icon-pencil"></i>
  <i class="icon icon-settings"></i>
  <i class="icon icon-shield"></i>
  <i class="icon icon-umbrella"></i>
  <i class="icon icon-user"></i>
</div>
