<div class="icons row">
  <ul class="col-left">
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-account"></i></span>
      <div><span class="library-icon-name">icon-account</span> <span class="library-icon-character">Character: <span class="value">\e900</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-book"></i></span>
      <div><span class="library-icon-name">icon-book</span> <span class="library-icon-character">Character: <span class="value">\e908</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-calendar"></i></span>
      <div><span class="library-icon-name">icon-calendar</span> <span class="library-icon-character">Character: <span class="value">\e901</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-camera"></i></span>
      <div><span class="library-icon-name">icon-camera</span> <span class="library-icon-character">Character: <span class="value">\e904</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-card"></i></span>
      <div><span class="library-icon-name">icon-card</span> <span class="library-icon-character">Character: <span class="value">\e800</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-card2"></i></span>
      <div><span class="library-icon-name">icon-card2</span> <span class="library-icon-character">Character: <span class="value">\e909</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-caret-down"></i></span>
      <div><span class="library-icon-name">icon-caret-down</span> <span class="library-icon-character">Character: <span class="value">\e902</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-caret-up"></i></span>
      <div><span class="library-icon-name">icon-caret-up</span> <span class="library-icon-character">Character: <span class="value">\e903</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-chart"></i></span>
      <div><span class="library-icon-name">icon-chart</span> <span class="library-icon-character">Character: <span class="value">\e801</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-chat"></i></span>
      <div><span class="library-icon-name">icon-chat</span> <span class="library-icon-character">Character: <span class="value">\e802</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-check"></i></span>
      <div><span class="library-icon-name">icon-check</span> <span class="library-icon-character">Character: <span class="value">\e907</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-chevron-down"></i></span>
      <div><span class="library-icon-name">icon-chevron-down</span> <span class="library-icon-character">Character: <span class="value">\e90d</span></span>
      </div>
    </li>
  </ul>
  <ul class="col-middle">
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-chevron-left"></i></span>
      <div><span class="library-icon-name">icon-chevron-left</span> <span class="library-icon-character">Character: <span class="value">\e803</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-chevron-right"></i></span>
      <div><span class="library-icon-name">icon-chevron-right</span> <span class="library-icon-character">Character: <span class="value">\e804</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-chevron-up"></i></span>
      <div><span class="library-icon-name">icon-chevron-up</span> <span class="library-icon-character">Character: <span class="value">\e90e</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-delete"></i></span>
      <div><span class="library-icon-name">icon-delete</span> <span class="library-icon-character">Character: <span class="value">\e905</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-edit"></i></span>
      <div><span class="library-icon-name">icon-edit</span> <span class="library-icon-character">Character: <span class="value">\e906</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-ellipsis"></i></span>
      <div><span class="library-icon-name">icon-ellipsis</span> <span class="library-icon-character">Character: <span class="value">\e805</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-graph"></i></span>
      <div><span class="library-icon-name">icon-graph</span> <span class="library-icon-character">Character: <span class="value">\e90a</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-handing"></i></span>
      <div><span class="library-icon-name">icon-handing</span> <span class="library-icon-character">Character: <span class="value">\e90b</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-home"></i></span>
      <div><span class="library-icon-name">icon-home</span> <span class="library-icon-character">Character: <span class="value">\e806</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-list"></i></span>
      <div><span class="library-icon-name">icon-list</span> <span class="library-icon-character">Character: <span class="value">\e807</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-lock"></i></span>
      <div><span class="library-icon-name">icon-lock</span> <span class="library-icon-character">Character: <span class="value">\e808</span></span>
      </div>
    </li>
  </ul>
  <ul class="col-right">
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-mail"></i></span>
      <div><span class="library-icon-name">icon-mail</span> <span class="library-icon-character">Character: <span class="value">\e809</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-menu"></i></span>
      <div><span class="library-icon-name">icon-menu</span> <span class="library-icon-character">Character: <span class="value">\e80f</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-money"></i></span>
      <div><span class="library-icon-name">icon-money</span> <span class="library-icon-character">Character: <span class="value">\e80a</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-movements"></i></span>
      <div><span class="library-icon-name">icon-movements</span> <span class="library-icon-character">Character: <span class="value">\e80c</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-movements-outlined"></i></span>
      <div><span class="library-icon-name">icon-movements-outlined</span> <span class="library-icon-character">Character: <span class="value">\e80b</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-pencil"></i></span>
      <div><span class="library-icon-name">icon-pencil</span> <span class="library-icon-character">Character: <span class="value">\e90f</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-settings"></i></span>
      <div><span class="library-icon-name">icon-settings</span> <span class="library-icon-character">Character: <span class="value">\e810</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-shield"></i></span>
      <div><span class="library-icon-name">icon-shield</span> <span class="library-icon-character">Character: <span class="value">\e80d</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-umbrella"></i></span>
      <div><span class="library-icon-name">icon-umbrella</span> <span class="library-icon-character">Character: <span class="value">\e90c</span></span>
      </div>
    </li>
    <li class="icon row"> <span class="library-icon-preview"><i class="icon icon-user"></i></span>
      <div><span class="library-icon-name">icon-user</span> <span class="library-icon-character">Character: <span class="value">\e80e</span></span>
      </div>
    </li>
  </ul>
</div>
