<div class="icon-grid">
  <i class="fa fa-account"></i>
  <i class="fa fa-book"></i>
  <i class="fa fa-calendar"></i>
  <i class="fa fa-camera"></i>
  <i class="fa fa-card"></i>
  <i class="fa fa-card2"></i>
  <i class="fa fa-caret-down"></i>
  <i class="fa fa-caret-up"></i>
  <i class="fa fa-chart"></i>
  <i class="fa fa-chat"></i>
  <i class="fa fa-check"></i>
  <i class="fa fa-chevron-down"></i>
  <i class="fa fa-chevron-left"></i>
  <i class="fa fa-chevron-right"></i>
  <i class="fa fa-chevron-up"></i>
  <i class="fa fa-delete"></i>
  <i class="fa fa-edit"></i>
  <i class="fa fa-ellipsis"></i>
  <i class="fa fa-graph"></i>
  <i class="fa fa-handing"></i>
  <i class="fa fa-home"></i>
  <i class="fa fa-list"></i>
  <i class="fa fa-lock"></i>
  <i class="fa fa-mail"></i>
  <i class="fa fa-menu"></i>
  <i class="fa fa-money"></i>
  <i class="fa fa-movements"></i>
  <i class="fa fa-movements-outlined"></i>
  <i class="fa fa-pencil"></i>
  <i class="fa fa-settings"></i>
  <i class="fa fa-shield"></i>
  <i class="fa fa-umbrella"></i>
  <i class="fa fa-user"></i>
</div>
