<div class="sticker-info">
  <div class="sticker-info__name">Kvitteringsoblat Brilleland</div>
  <div class="sticker-info__price">10,-</div>
  <button class="sticker-info__remove-btn"><i class="icon-delete"></i></button>
</div>
